<div class="aside-container">
    <h1><span>1</span>{% trans %}Start with the basics{% endtrans %}</h1>
    <p>
        Pour créer ton projet, il faut surtout lui donner un nom (clair et
        pas trop long).
    </p>
    <p>
        Ensuite, il faut que tout le monde sache où tu vas faire ton projet
        et combien de temps il va durer.
    </p>
    <p>
        Pour finir, il faut penser à mettre une belle image, histoire de
        donner envie aux autres de participer à ton projet !
    </p>
    <p>
        <b>Si tu veux juste annoter une idée de projet sans le publier, </b><br/>
        commence à remplir le formulaire et garde-le dans tes brouillons.
    </p>
</div>

<div class="aside-container" style="display: none;">
    <h1><span>2</span>{% trans %}Explain your project in more detail{% endtrans %}</h1>
    <p>
        Maintenant il faut en dire plus.
    </p>
    <p>
        Prends ton temps pour expliquer le contenu de ton projet et quel est
        son objectif final.
    </p>
</div>

<div class="aside-container" style="display: none;">
    <h1><span>3</span>{% trans %}Receipt and shopping list{% endtrans %}</h1>
    <p>
        Cette page te permet d'indiquer tout ce qu'il faut pour ton projet.
        Dans la colonne "Nécessaire", il faut indiquer la quantité
        nécessaire pour chaque élément, comme une recette.
    </p>
    <p>
        Si tu en possèdes déjà une certaine quantité, tu peux l'indiquer
        dans la deuxième colonne, pour que les gens puissent te proposer un
        bien dans la juste quantité.
    </p>
</div>
