<div class="aside-container">
    <h1><span>1</span>{% trans %}Start with the basics{% endtrans %}</h1>
    <p>
        To create your project, you must first give it a name (one that’s clear and not too long).
    </p>
    <p>
        Then, let everyone know where your project will take place and over what period.
    </p>
    <p>
        To finish off, make sure you add an eye-catching image, so that people will want to participate in your project!
    </p>
    <p>
        <strong>If you would like to simply note down your project idea without publishing</strong>, begin filling out the form and then save it to your drafts.
    </p>
</div>

<div class="aside-container" style="display: none;">
    <h1><span>2</span>{% trans %}Explain your project in more detail{% endtrans %}</h1>
    <p>
        Now tell us more.
    </p>
    <p>
        Take your time to explain your project’s content and ultimate objective.
    </p>
</div>

<div class="aside-container" style="display: none;">
    <h1><span>3</span>{% trans %}Receipt and shopping list{% endtrans %}</h1>
    <p>
        Cette page te permet d'indiquer tout ce qu'il faut pour ton projet.
        Dans la colonne "Nécessaire", il faut indiquer la quantité
        nécessaire pour chaque élément, comme une recette.
        Si tu en possèdes déjà une certaine quantité, tu peux l'indiquer
        dans la deuxième colonne, pour que les gens puissent te proposer un
        bien dans la juste quantité.
    </p>
</div>
