<div class="about-page">
    <p>
        est un projet de partenariat stratégique, soutenu par le Programme Erasmus+ de l’Union Européenne, qui a pour but de promouvoir la coopération, l’innovation et l’échange de bonnes pratiques en faveur de la jeunesse.</p>
    <p>
        Nous – les protagonistes de cette aventure - sommes quatre structures éducatives basées dans quatre pays européens : l’Association Française des Petits Débrouillards, l’Association belge des Petits Débrouillards, l’Association roumaine Renato et la société coopérative et sociale italienne Controvento,
    </p>
    <p>
        N o u s sommes des acteurs de l ’ é d u c a t i o n non formelle très actifs dans nos pays respectifs. Depuis longtemps, nous collaborons ensemble pour la réalisation de projets internationaux. Plusieurs facteurs nous différencient, mais il y existe un trait qui nous rassemble : c’est le fait d’avoir positionné au cœur de nos préoccupations et de nos pratiques les jeunes et les questions de transitions.
    </p>
    <p>
        Les jeunes nous intéressent parce qu’ils représentent l’énergie vitale de nos sociétés. C’est en partant d’eux que se construiront les réussites et les échecs à venir. Ils sont le berceau de l’innovation. Malgré ces évidences, nous constatons que les jeunes ont très peu conscience de leur rôle et rencontrent souvent des difficultés pour exprimer une parole politique. Pour cette raison, nous – travailleurs de jeunesse – les accompagnons durant cet apprentissage de l’autonomie : nous cheminons à leur côté afin qu’ils acquièrent les connaissances et les compétences nécessaires pour la participation à la vie civique et politique de leurs collectivités.
    </p>
    <p>
        La transition écologique est un des grands thèmes soulevés par les jeunes lors de nos initiatives locales et internationales. C’est également une priorité pour nous, éducateurs : parce que le monde qui nous entoure est en transition et que nous prétendons former des citoyens actifs, il est urgent de leur permettre de s’approprier les enjeux plutôt que de les subir. Parce que c’est une question globale, qui touche les jeunes dans leur façon de vivre au quotidien, les engage et stimule leur action au local. Parce qu’enfin c’est un thème stratégique, qui permet de lire la crise écologique, économique et sociale dans une perspective complexe et transversale.
    </p>
</p>
</div>
