<div class="about-page">
    <p>
        is a strategic partnership project, supported by the European Union’s Erasmus+ Program, which aims to promote cooperation, innovation and the sharing of good practices for the benefit of youth.
    </p>
    <p>
        The authors of this guide are four educational organizations from four European countries: the Petits Débrouillards in France, the Petits Débrouillards in Belgium, the Romanian association Renato and the Italian socialcooperative Controvento.  Our organizations work actively in the informal education sector in our respective countries. For some time, we have also been working together on international projects. While we are different in many ways, we share the same central concerns: youth and issues surrounding societal transition.
    </p>
    <p>
        We are interested in youth because young people are the lifeblood of our societies. They are the source of innovation and our future successes and failures depend on them, it is them. While this may seem obvious, young people themselves appear to have little awareness of their central role, and they often have trouble expressing themselves on political issues. This is why we in the youth sector support them in their journey towards autonomy: we help them acquire the knowledge and skills necessary to fully participate in civic and political life in their local regions.
    </p>
    <p>
        During both our local and international activities, we have seen that environmental transition is one of the major issues of concern for young people. It is also a key issue for educators like us, since our aim is to train active citizens for a changing world. Now more than ever, enabling young people to take ownership of the issues rather than simply suffering their consequences is crucial.
    </p>
    <p>
        Moreover, environmental transition is a global issue, which affects young people’s everyday lives, interests them and motivates them to act on a local scale. It is also a strategic issue, which allows a detailed, cross-disciplinary look at the environmental, economic and social crisis.
    </p>
</div>
