{%  extends "TheScienceTourMainBundle::main-bigcontent.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}CGU{% endtrans %}{% endblock %}

{% block nav_about %} id="nav_about"{% endblock %}

{% block banner %}
<img src="{{ asset('bundles/thesciencetourmain/img/about-banner.png') }}" alt="" />
<div class="banner-title gradient">
	<h1 class="pb0">{% trans %}Youth Committed For Climate{% endtrans %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="about-page">
{% include "TheScienceTourMainBundle:StaticYCFC:aboutPage_"~app.request.locale~".html.twig" %}
</div>

{% endblock %}
