<p>
    Twelve mobile laboratories crisscross France looking for the scientists of tomorrow and meet all publics, from villages to large cities. The visit of the "FabLabs on wheels" is a festive event, open to everyone, a moment to explore, dialogue and understand the world around us.
</p>
