<p>
    The web platform brings together a variety of actors for scientific activities, from parents to mediators, from researchers to teachers, from craftsmen to companies. The dynamics generated give the opportunity to meet, exchange and share a vision of the world.
</p>
