<p>
    La plateforme web permet de rassembler autour de projets de sicence une diversité d'acteurs : des parents aux médiateurs, des chercheurs aux instituteurs, des artisans aux entreprises.<br />
    Les dynamiques engendrées donnent l'occasion de se rencontrer, d'échanger et de partager une vision du monde.
</p>
