<p>
    Douze laboratoires mobiles sillonnent la France à la recherche des scientifiques de demain et à la rencontre de tous les publics, des villages aux grandes villes. La venue des FabLabs sur roue est un événement festif, ouvert à tous, pour explorer, dialoguer et comprendre le monde qui nous entoure.
</p>
