<p>
    Created more than thirty years ago, the association "Les Petits Débrouillards" is today the first french network dedicated to scientific and technical culture. On a daily basis, we animate the relation between children, young people and the universities of science, which we consider above all to be a way to understand oneself and the world.
</p>
