<p>
    Créé il y a plus de trente ans, l'association des Petits Débrouillards est aujourd'hui le premier réseau français de culture scientifique et technique. Nous animons, au quotidien, le lien entre les enfants, les jeunes et l'université des sciences, que nous considérons avant tout comme un médium de compréhension de soi et du monde.
</p>
